<aside>
	<div class="panel radius">
		<h3>About this blog</h3>
		<p>
			Today the bulk of my time is spent working as a threat hunter and having fun writing Python. <br>I strive to be the best blue teamer I can be. 
			I believe the only way to effectively defend a network is to learn how to attack it. 
			<br>I plan on using this blog as a way to share the knowledge I've learned to help individuals learn more about cybersecurity and as a reference for my future self. 
		</p>
	</div>

<!--
  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">
-->

<!--
	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
-->
</aside>